@model Clinic4.ViewModels.TakeAppointmentViewModel
@{
    ViewBag.Title = "BookAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book An Appointment</h2>

<p class="lead">Please select a date for your appointment</p>

@using (Html.BeginForm("RegisterAppointment", "Patient"))
{
    <div class="form-group">
        @Html.HiddenFor(model => model.PatientId)
        @Html.LabelFor(model => model.Start, "", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", placeholder = "Select an Appointment Date", @readonly = "true" , @id = "datePicker"} })
        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })


        @Ajax.ActionLink("Check Availabilites", "DisplayAvailableSlotsForDate",
        "Patient",
         new { selectedDate = "2018-09-03" },
         new AjaxOptions {
             InsertionMode = InsertionMode.Replace,
             UpdateTargetId = "contentDiv" },
             new { id = "test" }
         )

        
            
            <button type="submit" class="btn btn-primary">Book Now</button>
</div>
}


<div id="contentDiv">
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

     $(document).ready(function () {
         $('input[type=datetime]').datepicker({
             dateFormat: "yy-mm-dd",
             changeMonth: true,
             changeYear: true,
             yearRange: "-60:+0"
         });

         $("#datePicker").datepicker({
             onSelect: function () {
                 var dateObject = $(this).datepicker('getDate');
             }
         });

         function getTextBoxContent() {
             return document.getElementById('datePicker').datepicker('getDate');
         }
    });

        
    </script> 
}
