@model IEnumerable<Clinic4.Models.display_appointements_for_Patient>

@{
    ViewBag.Title = "ToManageAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ToManageAppointments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Available)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Available)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
