
@{
    ViewBag.Title = "Admin";
}

@{
    string Role = null;

    if (ViewData["UserRole"] != null)
    {
        Role = ViewData["UserRole"].ToString();
    }
}


@if (Role != null)
{
    <h2>User Role is: @Role</h2>
    <ul>
        <li>@Html.ActionLink("Manage Doctors", "Index", "AdminDoctor")</li>
        <li>@Html.ActionLink("Manage Patients", "Index", "AdminPatient")</li>
       
    </ul>
}
else
{

    <h2>Please Login to access this page</h2>

    @Html.ActionLink("Log In", "Authenticate", "Login", null, new { @class = "btn btn-info mr-2" })
    @* @Html.ActionLink("Register", "Register", "Login", null, new { @class = "btn btn-info" }) *@
}
