
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<ul>
    <li>@Html.ActionLink("Manage Doctors", "?", "Admin")</li>
    <li>@Html.ActionLink("Manage Patients", "?", "Admin")</li>
    <li>@Html.ActionLink("Manage Appointments", "?", "Admin")</li>
    <li>@Html.ActionLink("Manage Time Slots ", "?", "Admin")</li>
    <li>@Html.ActionLink("log out ", "?", "Admin")</li>
</ul>